app:
  name: nokotan-backend
  description: Nokotan Backend Web API
  license: Apache-2.0
  version: 1.0.0
  author: ahmadasysyafiq@proton.me
hwd:
  db: './migrations/dev.sqlite3'
  exec: './bin/NokoHwd.exe'
reporting:
  pdf:
    assets: './assets'
    templates:
      - page_file: 'templates/template1.pdf'
        page_layout: 'portrait'
        page_size: 'A4'
      - page_file: 'templates/template2.pdf'
        page_layout: 'landscape'
        page_size: 'A4'
    output_dir: './outputs'
    output_name: 'Report-{index}-{date}.pdf'
    font_family: 'Iosevka'
    font_type: 'Regular'
    font_size: 12
  xlsx:
    assets: './assets'
    templates:
      - sheet_file: 'templates/template1.xlsx'
        sheet_name: 'Sheet1'
    output_dir: './outputs'
    output_name: 'Report-{index}-{date}.xlsx'
jwt:
  algorithm: HS256
  secret_key: 'im-secret-key'
  audience: ['im-audience']
  issuer: 'im-issuer'
  expires_in: 10h
logger:
  level: debug
  encoding: text/plain
  stack_trace_enabled: true
  colorable: true
tasks:
  - name: self
    workdir: '.'
    stdout: console
    stderr: console
    network:
      scheme: http
      protocol: tcp
      address: 0.0.0.0
      port: 8080
  - name: electron
    workdir: './bin/electron-app'
    environ:
      - ELECTRON_RUN_AS_NODE=1
      - NODE_ENV=development
    exec: './nokowebview.exe'
    args: []
    stdout: console
    stderr: console
    depends_on:
      - target: self
        waiter: 'wait-for-http-alive'
        params:
          iterations: 4
          duration: 1s
